<section class="leads page">
  <md-button class="md-fab md-accent md-hue-2"
    ng-click="vm.showUploadModal()">
    <md-icon md-font-set="material-icons"
      class="md-light">
        backup
    </md-icon>
  </md-button>
  <md-content class="column">
    <div flex>
      <h1 class="total-leads">Total Leads: {{ vm.leadsCount }}</h1>
    </div>
    <md-card flex>
      <md-data-table-toolbar layout="row">
        <div flex="25" class="leads-title">
          <h3>Remove Leads</h3>
        </div>
        <md-input-container flex=50 class="md-accent">
          <label>search for leads by (F.name, L.name, email)</label>
          <input type="text" ng-model="search" ng-model-options="{debounce: 1000}">
        </md-input-container>
        <div class="actions">
          <md-button ng-click="vm.checkBeforeDelete()"
          class="md-icon-button md-warn md-button-large"
          ng-disabled="!vm.selected.length">
            <md-tooltip>
              delete lead(s)
            </md-tooltip>
            <md-icon md-font-set="material-icons">clear</md-icon>
          </md-button>
        </div>
      </md-data-table-toolbar>
      <md-data-table-container>
        <table md-data-table md-row-select="vm.selected"
        md-progress="vm.$promise">
          <thead md-order="vm.orderBy">
            <tr>
              <th name="First Name" order-by="firstName"></th>
              <th name="Last Name" order-by="lastName"></th>
              <th name="Email" order-by="email"></th>
              <th name="State" order-by="address.state"></th>
            </tr>
          </thead>
          <tbody>
            <tr md-auto-select
            ng-repeat="lead in vm.leads | orderBy: vm.orderBy | limitTo: vm.limit: (vm.page - 1) * vm.limit">
              <td>{{ ::lead.firstName }}</td>
              <td>{{ ::lead.lastName }}</td>
              <td>{{ ::lead.email }}</td>
              <td>{{ ::lead.address.state }}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-data-table-pagination md-limit="vm.limit"
      md-page="vm.page"
      md-total="{{ vm.leads.length }}">
      </md-data-table-pagination>
    </md-card>
  </md-content>
</section>
