tColor = alpha(black, .38)
.leads
  padding-left 80px
  padding-right 80px
  .leads-title *
    font-weight 100
    font-size 1.2rem
  .total-leads
    font-weight 300
    font-size 2.3rem
  md-progress-circular
    position absolute
    top 50%
    bottom 50%
  .md-fab
    position fixed
    bottom 35px
    right 45px

.upload-dialog
  min-height 600px
  min-width 1000px
  md-dialog-content
    padding 30px
    .file-drop-box
      border dashed 3px tColor
      min-width 800px
      min-height 200px
      cursor pointer
      margin-bottom 20px
      transform border .3s ease
      .cta
        color tColor
        font-weight 300
      &.accept
        border dashed 3px #18FFFF
        .cta
          color #00E5FF
    .file-list
      min-height 100px
    .upload-percentage
      text-align center
      *
        font-weight 300
        margin 0px
        font-size 2rem
    .autocomplete-custom-template li
      border-bottom 1px solid #ccc
      height auto
      padding-top 8px
      padding-bottom 8px
      white-space normal;
    .autocomplete-custom-template li:last-child
      border-bottom-width 0
    .autocomplete-custom-template .item-title
    .autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata
      display block
      line-height 2
    .autocomplete-custom-template .item-title md-icon
      height 18px
      width 18px
