tColor = alpha(black, .38)
.leads
  .md-fab
    position fixed
    bottom 35px
    right 45px

.upload-dialog
  min-height 400px
  min-width 800px
  md-dialog-content
    padding 30px
    .file-drop-box
      border dashed 3px tColor
      min-width 800px
      min-height 400px
      cursor pointer
      .cta
        color tColor
        font-weight 300
      .accept
        border dashed 3px green
