
.history
  md-divider + .no-results
    display none
  .card
    background-color white
    .history-text
      font-weight 300
      font-size 1.5rem
      .order-number
        font-weight bold
        font-size 1.2rem
      .leads-sent
        font-weight bold
        color red
