@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,300italic,100italic,400italic,700italic,500italic,900italic);
@import 'styles'
html
body
  height 100%
 body
  background-color #efefef
  font-family 'Roboto', sans-serif
  *
    box-sizing border-box
.main
  col(.75, 0 , 2)
