<div class="brokers-box md-whiteframe-z2" layout="column" layout-padding>
  <form name="newBrokerForm" novalidate>
    <md-tabs md-dynamic-height>
      <md-tab label="General">
        <md-content layout="row">
          <div flex="40">
            <md-input-container>
              <label>Broker name</label>
              <input type="text" ng-model="vm.broker.name">
            </md-input-container>

            <md-input-container>
              <label>Broker Display Name</label>
              <input type="text" ng-model="vm.broker.displayName">
            </md-input-container>

            <md-input-container>
              <label>Website Url</label>
              <input type="url" ng-model="vm.broker.website">
            </md-input-container>

            <md-input-container>
              <label>Phone</label>
              <input type="tel" ng-model="vm.broker.phone">
            </md-input-container>

            <md-input-container>
              <label>Fax</label>
              <input type="tel" ng-model="vm.broker.fax">
            </md-input-container>

            <md-input-container>
              <label>Email</label>
              <input type="email" ng-model="vm.broker.email">
            </md-input-container>
          </div>

          <div flex="40" offset="10">
            <md-input-container>
              <label>Address Line 1</label>
              <input type="text" ng-model="vm.broker.address.street">
            </md-input-container>

            <md-input-container>
              <label>Address Line 2</label>
              <input type="text" ng-model="vm.broker.address.extra">
            </md-input-container>

            <md-input-container>
              <label>City</label>
              <input type="text" ng-model="vm.broker.address.city">
            </md-input-container>

            <md-input-container>
              <label>{{ vm.broker.address.state }}</label>
              <md-select ng-model="vm.broker.address.state">
                <md-option ng-repeat="state in vm.states" value="{{::state.abbrev}}">{{::state.abbrev}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container>
              <label>Zip</label>
              <input type="number" ng-model="vm.broker.address.zip">
            </md-input-container>

            <md-input-container>
              <label>Timezone</label>
              <md-select ng-model="vm.broker.timezone">
                <md-option ng-repeat="zone in vm.timezones" value="{{ zone.value}}">({{ ::zone.abbr}} {{ ::zone.offset}}) {{ ::zone.value }}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Basic Lead Filters">
        <md-content layout="row">
          <div flex="30">
            <h3>Loan Purpose</h3>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.refinanceFirst" aria-label="refinance1st">
              Refinance 1st
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.refinanceCashOut" aria-label="refinanceCashOut">
              Refinance Cash Out
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.refinanceFirstFha" aria-label="refinance1stFha">
              Refinance 1st FHA
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.refinanceFirstVa" aria-label="refinance1stVa">
              Refinance 1st VA
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.debtConsolidation" aria-label="debtConsolidation">
              Debt Consolidation
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.heloc" aria-label="heloc">
              HELOC
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.buyFirstHome" aria-label="buyFirstHome">
              Buy First Home
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.loanPurpose.buySecondHome" aria-label="buySecondHome">
              Buy Second Home
            </md-checkbox>
          </div>
          <div flex="30" offset="5">
            <h3>Credit Rating</h3>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.creditRating.excellent" aria-label="excellent">
              Excellent
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.creditRating.good" aria-label="good">
              Good
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.creditRating.fair" aria-label="fair">
              Fair
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.creditRating.poor" aria-label="poor">
              Poor
            </md-checkbox>
          </div>
          <div flex="30" offset="5">
            <h3>Property Type</h3>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.propertyType.singleFamily" aria-label="single family">
              Single Family
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.propertyType.condo" aria-label="condo">
              Condo
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.propertyType.townHouse" aria-label="town house">
              Town House
            </md-checkbox>
            <md-checkbox class="md-accent md-hue-3"ng-model="vm.broker.leadFilters.basic.propertyType.multiplex" aria-label="multiples">
              Multiplex
            </md-checkbox>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="State Filters">
        <md-button class="md-accent md-raised md-hue-3" ng-click="vm.toggleAllStates()"
        >toggle all</md-button>
        <md-content layout="row" layout-wrap>
          <div flex="25" ng-repeat="state in vm.states">
            <md-checkbox class="md-accent md-hue-3" ng-model="vm.broker.leadFilters.states[state.abbrev]" aria-label="{{state.name}}">{{ ::state.name }}
            </md-checkbox>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Specifics">
        <md-content layout="column" layout-margin>
          <div class="" layout="row" layout-align="start center" layout-fill>
            <md-checkbox class="md-accent md-hue-3" flex="20"
            ng-model="vm.broker.leadFilters.detail.requestedLoanAmount.use">
              Requested Loan Amount
            </md-checkbox>
            <div layout="row" flex="35" layout-align="center center">
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.requestedLoanAmount.use">
                <label>min</label>
                <md-select ng-model="vm.broker.leadFilters.detail.requestedLoanAmount.minimum ">
                  <md-option ng-repeat="amount in vm.loanAmounts" value="{{::amount}}">{{::amount | currency}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.requestedLoanAmount.use">
                <label>max</label>
                <md-select ng-model="vm.broker.leadFilters.detail.requestedLoanAmount.maximum ">
                  <md-option ng-repeat="amount in vm.loanAmounts" value="{{::amount}}">{{::amount | currency}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="" layout="row" layout-align="start center" layout-fill>
            <md-checkbox
            class="md-accent md-hue-3"
            ng-model="vm.broker.leadFilters.detail.ltv.use"
            flex="20">
              LTV
            </md-checkbox>
            <div layout="row" flex="35" layout-align="center center">
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.ltv.use">
                <label>min</label>
                <md-select ng-model="vm.broker.leadFilters.detail.ltv.minimum ">
                  <md-option ng-repeat="amount in vm.ltvs" value="{{::amount.val}}">{{::amount.view }}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.ltv.use">
                <label>max</label>
                <md-select ng-model="vm.broker.leadFilters.detail.ltv.maximum ">
                  <md-option ng-repeat="amount in vm.ltvs" value="{{::amount.val}}">{{::amount.view }}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="" layout="row" layout-align="start center" layout-fill>
            <md-checkbox
            class="md-accent md-hue-3"
            ng-model="vm.broker.leadFilters.detail.rate.use"
            flex="20">
              First Mortgage Rate
            </md-checkbox>
            <div layout="row" flex="35" layout-align="center center">
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.rate.use">
                <label>min</label>
                <md-select ng-model="vm.broker.leadFilters.detail.rate.minimum ">
                  <md-option ng-repeat="amount in vm.rates" value="{{::amount.val}}">{{::amount.view }}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="50" ng-show="vm.broker.leadFilters.detail.rate.use">
                <label>max</label>
                <md-select ng-model="vm.broker.leadFilters.detail.rate.maximum ">
                  <md-option ng-repeat="amount in vm.rates" value="{{::amount.val}}">{{::amount.view }}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Notes">
        <md-content layout="column" layout-align="center center">
          <div class="notes-list">
            <md-card ng-repeat="note in vm.notes | orderBy:'-createdAt' track by note._id"
            class="note fade"
            flex
            layout="column">
              <small class="date">{{::note.createdAt | date:"MM/dd/yyyy"}}</small>
              <span class="content">{{::note.content}}</span>
            </md-card>
          </div>
          <div flex layout="row"
          class="note-inputbox">
            <md-input-container flex="75">
              <label>New note</label>
              <textarea ng-model="vm.newNote.content"
                columns="1" md-maxlength="150">
              </textarea>
            </md-input-container>
            <div>
              <md-button class="md-raised md-accent"
              ng-click="vm.saveNewNote()">
                <md-icon md-font-set="material-icons">
                  add
                </md-icon>
                new note
              </md-button>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Suppress">
        <md-content layout="column" layout-align="center center">
          <div flex="30" ng-if="vm.fileLoading" flex-order="2" layout="row">
            <div flex="60">
              <md-progress-linear
                md-mode="{{vm.progressType}}"
                value="{{vm.progress}}">
              </md-progress-linear>
            </div>
            <div flex="30" class="upload-percentage" ng-show="vm.progress > 0">
              <h3>{{vm.progress}}%</h3>
            </div>
          </div>
          <div class="file-drop-box"
            ng-if="!vm.fileLoading"
            flex="70"
            layout="column"
            layout-align="center center"
            ngf-drop
            ngf-accept="'.csv'"
            ngf-drag-over-class="accept"
            ngf-select
            ng-model-options="{updateOn: 'change drop paste'}"
            ngf-change="vm.fileDropped($file, $newFiles, $event, $rejected)">
            <h1 class="cta">
              click or drag to upload phone numbers
            </h1>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
    <div class="actions" layout="row"
    layout-align="start center">
      <md-button class="md-raised md-accent md-hue-3"
      ng-disabled="newBrokerForm.$invalid"
      ng-click="vm.whenDone()"
      type="submit">
      {{ vm.name }}
      </md-button>
      <md-button ng-if="vm.broker._id"
      class="md-accent"
      aria="new order"
      ui-sref="preorder({broker: vm.broker._id, name: vm.broker.name})">
        <md-icon md-font-set="material-icons">shopping_cart</md-icon>
        order
      </md-button>
    </div>
  </form>
</div>
