tcolor = alpha(black, .38)
.brokers-box
  md-content
    background-color white !important
    .notes-list
    .note-inputbox
      width 60%
    .notes-list
      background-color #efefef
      height 300px
      max-height 300px
      overflow-y scroll
      padding 20px
    .note
      background-color white
      border-radius 3px
      padding 8px
      color black
      margin-bottom 10px
      .content
        font-weight 300
        font-size 1.4rem
      .date
        color rgba(0,0,0,0.3)
        margin-bottom 6px
  .file-drop-box
    border dashed 3px tcolor
    min-width 1000px
    min-height 200px
    cursor pointer
    margin-bottom 20px
    transform border .3s ease
    .cta
      color tcolor
      font-weight 300
    &.accept
      border dashed 3px #18FFFF
      .cta
        color #00E5FF
