$bg-color = #efefef

$pri-color = #F44336
$pri-color-light = #E57373
$pri-color-dark = #C62828

$ac-color = #3D5AFE
$ac-color-dark = #304FFE
$ac-color-light = #8C9EFF

$text-color = alpha(black, .84)
$text-color-secondary = alpha($text-color, .54)
$text-color-disabled = alpha($text-color, .38)
$text-color-divider = alpha($text-color, .12)

$max-z = 99999999999
$top-z = 1000
$little-z = 10
$negative-z = -1
$middle-z = 100
$high-z = 500

$toolbar-height = 62px

$icon-color = $ac-color
$icon-color-tint = tint($icon-color, 20%)
$icon-color-shade = mix($icon-color, $bg-color, 20%)

$font-small = .8rem
$font-medium = 1.3rem
$font-large = 1.7rem
$font-extra-large = 2rem
