.brokers
  padding 30px 50px
  .md-fab
    position fixed
    bottom 35px
    right 70px
  .main-content
    padding 20px
    .broker-list
      padding-top 20px !important
      .broker-items
        background-color white !important
        width 60vw
        .list-container
          padding 0px
          md-divider + .no-results
            display none
        .md-list-item-text
          padding-left 15px
          padding-right 15px
          .broker-name
            font-weight 300
            font-size 2rem
            margin 0px

    .alphabet
      .letter
        font-weight 300
        font-size 2rem
        &.active
          text-decoration underline
          color color alpha(black, .87)
          font-weight 500

      a
        color alpha(black, .87)
        text-decoration none
        transition color .3s ease
        &:visited
          color alpha(black, .87)
          text-decoration none
        &:hover
          font-weight 500
          color #00E5FF
        &:active
        .active
          text-decoration underline
          color color alpha(black, .87)
          font-weight 500
