.brokers
  padding 30px 50px
  .md-fab
    position fixed
    bottom 35px
    right 45px
  .main-content
    padding 20px
    .broker-list
      background-color white
    .alphabet
      .letter
        font-weight 300
        font-size 2rem
        &.active
          text-decoration underline
          color color alpha(black, .87)
          font-weight 500

      a
        color alpha(black, .87)
        text-decoration none
        &:visited
          color alpha(black, .87)
          text-decoration none
        &:hover
          font-weight 500
          color #00E5FF
        &:active
        .active
          text-decoration underline
          color color alpha(black, .87)
          font-weight 500
