<section class="page resolve">
  <md-card>
    <md-data-table-toolbar>
      <div layout="row" layout-fill>
        <div flex="20">
          <h3>Resolve {{ ::vm.resolution.resolves.length }} duplicate(s)</h3>
        </div>
        <div flex="30"></div>
        <div flex layout="row">
          <md-button ng-click="vm.showConfirmation()" class="md-icon-button md-accent">
            <md-tooltip>
              update
            </md-tooltip>
            <md-icon md-font-set="material-icons">publish</md-icon>
          </md-button>
        </div>
      </div>
    </md-data-table-toolbar>
    <md-data-table-container>
      <table md-data-table md-row-select="vm.selected">
        <thead md-order="'dupe.dupeKey'">
          <tr>
            <th name="Dupe First Name" order-by="dupe.firstName"></th>
            <th name="Dupe Last Name" order-by="dupe.lastName"></th>
            <th name="Dupe Email" order-by="dupe.email"></th>
            
            <th name="Lead First Name" order-by="lead.firstName"></th>
            <th name="Lead Last Name" order-by="lead.lastName"></th>
            <th name="Lead Email" order-by="lead.email"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select
            ng-repeat="pair in vm.resolution.resolves | orderBy: 'dupe.firstName' | limitTo: vm.limit: (vm.page - 1) * vm.limit track by pair.dupe.dupeKey">
            <td>{{ ::pair.dupe.firstName}}</td>
            <td>{{ ::pair.dupe.lastName}}</td>
            <td>{{ ::pair.dupe.email}}</td>
            <td>{{ ::pair.lead.firstName}}</td>
            <td>{{ ::pair.lead.lastName}}</td>
            <td>{{ ::pair.lead.email}}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="vm.limit"
    md-page="vm.page"
    md-total="{{ ::vm.resolution.resolves.length }}">
    </md-data-table-pagination>
  </md-card>
</section>
