.resolve
  padding-left 40px
  padding-right 40px
  padding-top 20px
  .md-fab
    z-index 10000
  md-fab-speed-dial
    position fixed
    bottom 35px
    right 70px
  md-content
    background-color white
    padding-top 0px !important
    md-list
      padding-bottom 0px
  .dupe
    border-right 1px solid rgba(0,0,0,0.3)
  .title
    text-align center
    *
      font-size 1.3rem
      font-weight 300
  .name
  .email
    margin-left 15px
