#app
  .loading-backdrop
    width 100vw
    height 100vh
    background-color rgba(0,0,0,0.2)
    z-index 9999
    position absolute
    top 0
    left 0
  md-toolbar
    position fixed
    top 0
    left 0
    .logo
      cursor pointer

  md-content
    padding-top 60px
