@import '../../../styles/vars'

.icon
  color $icon-color
  font-size $font-medium
  transition color .2s ease
  &.background
    color $bg-color
  &.accent
    color $ac-color
  &.primary
    color $pri-color
  &.small
    font-size $font-small
  &.large
    font-size $font-large
  &.extra-large
    font-size $font-extra-large
  &:hover
    color $icon-color-tint

