@import '../../../styles'

.sidenav
  col(.25, 0, 2)
  height 100vh
  background-color white
  box-shadow 4px 0 7px -3px alpha(black, .60)
  padding 15px 10px 15px 10px
  overflow-y scroll
  z-index $top-z
  .content
    .item
      col(1)
      margin-bottom 15px
      .item-icon
        col(1/5 1, 0, 2)
      .item-name
        color $text-color
        font-size 1.5rem
        col(4/5 1, 0, 2)
        text-transform capitalize
        margin 0px
