<section class="page preorder">
  <md-content layout="column" layout-padding>
    <div class="preorder-table" flex>
      <md-card>
        <md-data-table-toolbar ng-hide="vm.filters.show">
          <div layout="row" layout-fill>
            <div flex="20">
              <h3>Preorder for {{ ::vm.broker.name }}</h3>
              <h5>Leads count: {{ ::vm.leads.length }} </h5>
            </div>
            <div flex="5"></div>
            <div flex="15">
              <md-input-container flex>
                <label># of leads</label>
                <input name="count"
                ng-model="vm.selectionCount"
                ng-model-options="{debounce: 1000}"
                ng-change="vm.orderNumberOfleads()"
                type="number">
              </md-input-container>
            </div>
            <div class="actions" flex="15" layout="row">
              <md-button ng-click="vm.orderLeads()" class="md-icon-button"
              ng-disabled="!vm.selected.length">
                <md-tooltip>
                  download
                </md-tooltip>
                <md-icon md-font-set="material-icons">file_download</md-icon>
              </md-button>
            </div>
          </div>
        </md-data-table-toolbar>
        <md-data-table-container>
          <table md-data-table md-row-select="vm.selected">
            <thead md-order="vm.filters.orderBy">
              <tr>
                <th name="Created on" order-by="createdAt"></th>
                <th name="First Name" order-by="firstName"></th>
                <th name="Last Name" order-by="LastName"></th>
                <th name="State" order-by="address.state"></th>
                <th name="Home Owner" order-by="homeOwner"></th>
                <th name="Credit Rating" order-by="creditRating"></th>
                <th name="LTV" order-by="LTV"></th>
                <th name="CLTV" order-by="CLTV"></th>
                <th name="Loan Purpose" order-by="requestedLoan.purpose"></th>
                <th name="Loan Description" order-by="requestedLoan.description"></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select
                ng-repeat="lead in vm.leads | orderBy: vm.filters.orderBy | limitTo: vm.filters.limit: (vm.filters.page - 1) * vm.filters.limit"
                class="md-primary">
                <td>{{ ::lead.createdAt | date:"MM/dd/yyyy" }}</td>
                <td>{{ ::lead.firstName }}</td>
                <td>{{ ::lead.lastName }}</td>
                <td>{{ ::lead.address.state }}</td>
                <td>{{ ::lead.homeOwner }}</td>
                <td>{{ ::lead.creditRating }}</td>
                <td>{{ ::lead.LTV }}</td>
                <td>{{ ::lead.CLTV }}</td>
                <td>{{ ::lead.requestedLoan.purpose }}</td>
                <td>{{ ::lead.requestedLoan.description }}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="vm.filters.limit"
        md-page="vm.filters.page"
        md-total="{{ ::vm.leads.length }}">
        </md-data-table-pagination>
      </md-card>
    </div>
  </md-content>
</section>
