<section class="page preorder">
  <md-content layout="column" layout-padding>
    <div class="preorder-table" flex>
      <md-card>
        <md-data-table-toolbar ng-hide="filters.show">
          <div layout="row" layout-fill>
            <div flex="60" layout="row"  layout-align="space-between center">
              <h2 style="font-weight: 300;">
                Preorder for <span style="font-weight: 500;">{{ ::vm.broker.name }}</span>
              </h2>
              <h3 style="font-weight: 300;">
                Leads count: <span style="color: #00E676;font-weight: bold;">{{ totalLeads }}</span>
              </h3>
            </div>
            <div flex="5"></div>
            <div flex="15">
              <md-input-container flex>
                <label># of leads</label>
                <input name="count"
                ng-model="vm.selectionCount"
                ng-model-options="{debounce: 1000}"
                ng-change="vm.orderNumberOfleads()"
                type="number">
              </md-input-container>
            </div>
            <div class="actions" flex="15" layout="row">
              <md-button ng-click="vm.onDownloadClick()" class="md-icon-button"
              ng-disabled="!vm.selected.length">
                <md-tooltip>
                  download
                </md-tooltip>
                <md-icon md-font-set="material-icons">file_download</md-icon>
              </md-button>
            </div>
          </div>
        </md-data-table-toolbar>
        <md-data-table-container>
          <table md-data-table md-row-select="vm.selected"
          md-progress="vm.$promise">
            <thead md-order="filters.orderBy"
            on-all-checked>
              <tr>
                <th name="Created on" order-by="createdAt"></th>
                <th name="First Name" ></th>
                <th name="Last Name" ></th>
                <th name="State" ></th>
                <th name="Home Owner" ></th>
                <th name="Credit Rating" ></th>
                <th name="LTV" order-by="LTV"></th>
                <th name="Loan Purpose" ></th>
                <th name="Loan Min" ></th>
                <th name="Loan Max" ></th>
                <th name="Loan Description" ></th>
                <th name="First Mortgage Rate" ></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select
                ng-repeat="lead in leads | orderBy: filters.orderBy | limitTo: filters.limit: (filters.page - 1) * filters.limit"
                class="md-primary">
                <td>{{ ::lead.createdAt | date:"MM/dd/yyyy" }}</td>
                <td>{{ ::lead.firstName }}</td>
                <td>{{ ::lead.lastName }}</td>
                <td>{{ ::lead.address.state }}</td>
                <td>{{ ::lead.homeOwner }}</td>
                <td>{{ ::lead.creditRating }}</td>
                <td>{{ ::lead.LTV | percent:2 }}</td>
                <td>{{ ::lead.requestedLoan.purpose }}</td>
                <td>{{ ::lead.requestedLoan.amountMin | currency }}</td>
                <td>{{ ::lead.requestedLoan.amountMax | currency }}</td>
                <td>{{ ::lead.requestedLoan.description }}</td>
                <td>{{ ::lead.mortgage.first.rate }}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination
        md-trigger="fetchMoreLeads"
        md-limit="filters.limit"
        md-page="filters.page"
        md-total="{{ totalLeads }}">
        </md-data-table-pagination>
      </md-card>
    </div>
  </md-content>
</section>
